/*Start global*/
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}

.lil-gui {
  	--background-color: #f6f6f6;
  	--text-color: #032add;
  	--title-background-color: #efefef;
  	--title-text-color: #032add;
  	--widget-color: #eaeaea;
  	--hover-color: #f0f0;
  	--focus-color: #fafafa;
  	--number-color: #032add;
  	--string-color: #032add;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 3px;
  font-family: 'Source Sans Pro Extra-light 200', sans-serif;
  color: black;
  overflow-x: hidden;
  cursor: crosshair;
  /* background-color: black; */
}

body{
  width: 100%;
  height: 100%;
  margin: auto;
}

a{
  text-decoration: none;
  color: #eee;
}

p{
  font-size: 7rem;
  font-weight: 300;
  color: #black;
  widows: 3;
}

img{
  width: 100%;
  opacity: 1;
}
/*End global*/

/*Start header*/
header{
  width: 100%;
}

.top-nav{
  display: inline-block;
  width: 5%;
  height: 10rem;
  position: fixed;
  top: -100vh;
  z-index: 10;
  background: hsla(202,61%,54%,0.01);
  left: 14rem;
}

.nav-list{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list li{
  margin-right: 10rem;
}

li{
  color: #eee;
}

.nav-link{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  color: #032add;
  background-color: rgb(255,255,255);
}

.nav-link:hover,
.nav-link:focus{
  background: linear-gradient(to top, #f05365ff, #4e5283ff); /*red to green */
  -webkit-background-clip: text;
  -webkit-background-fill-color: transparent;
}

.top-nav.open{
  top: 0;
  margin-left: 2rem;
  margin-top: 1rem;
}

.menu-toggler{
  position: fixed;
  right: 3rem;
  top: 2%;
  width: 6.5rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: space-around;
  cursor: pointer;
  z-index: 1;
  transition: transform 350ms ease-out;
  background: rgba(255,255,255,0.5);
  align-items: center;
}

.menu-toggler.open{
  /* transform: ; */
}

.bar{
  background: radial-gradient(#FFF, #032add);
  width: 50%;
  height: 2.5px;
  border-radius: 0.5rem;
}

.bar.half{
  width: 80%;
}

.bar.start{
  transform-origin: center;
  transition: transform 300ms cubic-bezier(0.1,0.4,0.7,0.1)
}

.open .bar.start{
  transform: translateX(1.05rem) translateY(1.1rem) rotate(70deg);
}

.bar.end{
  align-self: flex-end;
  transform-origin: left;
  transition: transform 300ms cubic-bezier(0.1,0.4,0.7,0.1);
}

.open .bar.end{
  transform: translateY(-0.5rem) translateX(-0.1rem) rotate(-70deg);
}

.slogan{
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
  position: absolute;
  top: 2%;
  left: 16rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: left;
  display: inline-flex;
}

.sloganText h1{
  font-family: 'Source Sans Pro';
  font-size: 5.5rem;
  font-weight: 400;
  color: black;
}

/*End header*/

/*Start Ticker */
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: absolute;
  width: 300%;
  overflow: hidden;
  height: 8rem;
  left: 44rem;
  box-sizing: content-box;
}
.ticker-wrap .ticker {
  display: inline-flex;
  height: 6rem;
  line-height: 7rem;
  white-space: nowrap;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
 -webkit-animation-name: ticker;
           animation-name: ticker;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.ticker-wrap .ticker__item {
  display: inline-block;
  padding-bottom: 1.5rem;
  margin-left: 10rem;
  font-family: 'Source Sans Pro';
  font-size: 5.5rem;
  font-weight: 400;
  color: #032add;
  text-transform: lowercase;
  background-color: rgba(255,255,255,0.9);
  font-style: italic;
}
/*End Ticker*/

/*Start Landing Text */
.landing{
  /* display: inline; */
  position: relative;
  height: 100vh;
  margin: 2rem;
}

.landing h1{
  line-height: 22rem;
  font-size: 17rem;
  letter-spacing: 0.9rem;
  font-family: 'Glory';
  font-weight: 400;
  transform: scale(1,1);
  user-select: none;
}

.landing-slogan1{
  float: right;
  margin-top: 15rem;
  padding-right: 32rem;
  margin-bottom: 10rem;
  width: 35%;
  text-align: right;
  cursor: crosshair;
}

.landing-slogan1 h1{
  margin-bottom: 10rem;
}

.landing-slogan1 h6{
  text-transform: lowercase;
  position: relative;
  font-family: 'Source Sans Pro';
  font-size: 5.5rem;
  font-weight: 400;
  margin: 3rem;
}

#guiPanel2{
  position: absolute;
  z-index: 1;
  right: 30rem;
  bottom: 10rem;
  margin: 2rem;
  padding: 2rem;
  display: inline-flex;
}

.my_dataviz{
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
}

.aboutme{
  position: relative;
  float: right;
  width: 100%;
  text-align: right;
  margin-bottom: 5rem;
  padding-right: 33rem;
  /* padding-bottom: 20rem; */
  /* display: inline-block; */
}

/* .other {
  position: relative;
  float: right;
  width: 100%;
  text-align: right;
  margin-bottom: 5rem;
  padding-right: 33rem;
  display: inline-block;
}

.other h6{
  position: relative;
  font-family: 'Source Sans Pro';
  font-size: 5.5rem;
  font-weight: 400;
  color: #032add;
  font-style: italic;
}

.other a{
  text-align: right;
  float: right;
  padding-right: 1rem;
  margin-left: 15rem;
  overflow: hidden;
}

.other a h6::after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.5rem;
	background-color: #032add;
	/* opacity 1; */
	/* transition: opacity 300ms, transform 300ms; */
  /* transform: translate3d(-100%, 0, 0); */
/* } */

/* .other a h6:hover::after,
.other a h6:focus::after{
  opacity: 1;
  transform: translate3d(0, 0, 0);
} */

.aboutme h6{
  position: relative;
  font-family: 'Source Sans Pro';
  font-size: 5.5rem;
  font-weight: 400;
  color: #032add;
  font-style: italic;
}

.aboutme a{
  text-align: right;
  float: right;
  padding-right: 1rem;
  margin-left: 15rem;
  overflow: hidden;
}

.aboutme a h6::after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.5rem;
	background-color: #032add;
	/* opacity 1; */
	transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.aboutme a h6:hover::after,
.aboutme a h6:focus::after{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.landing-text{
  position: relative;
  display: inline-flex;
  width: 98%;
  /* border: 1px solid black; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 5rem;
  margin-left: 5rem;
}

.landing-image{
  position: relative;
  margin: 3rem;
  padding-top: 20rem;
  margin-bottom: 50rem;
}

.landing-image h1{
  font-family: 'Source Sans Pro';
  font-size: 5.5rem;
  font-weight: 400;
  color: black;
  text-align: left;
  margin-top: 1rem;
  font-weight: 400;
  width: 26%;
  margin-left: 6rem;
}

.thebutton{
  position: absolute;
  top: 4rem;
  right: 6rem;
  background-color: white; /* Green */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 8rem;
}

.landing-image img{
  position: relative;
  width: 100%;
  /* height: 100%; */
}
/*End Landing Text */

.globecontainer{
  height: 100vh;
  margin: 2rem;
  position: relative;
  display: block;
}

.sketchWords{
  position: relative;
  margin: 4rem;
  display: block;
  /* border: 1px solid black; */
}

#guiPanel{
  left: 2rem;
  top: 200rem;
  position: relative;
  display: inline-block;
  z-index: 3;
}

#container{
  display: block;
  float: right;
  position: relative;
  margin-bottom: 40rem;
  z-index: 2;
}

.graphDesc{
  display: inline-flex;
  position: absolute;
  left: 65rem;
  float: right;
  width: 40%;
}

.graphDesc h1{
  font-family: 'Source Sans Pro';
  font-size: 5.5rem;
  font-weight: 200;
  color: black;
  text-align: right;
  margin-top: 1rem;
  font-weight: 400;
  width: 45%;
}
/*End about*/

/*Start Portfolio*/

.portfolioGrid{
  padding: 1rem;
  margin: 10rem;
  width: 95%;
  display: block;
  position: relative;
}

.image-gallery{
  /* border-left: 1px solid black; */
  border-top: 1px solid black;
  padding-top: 5rem;
  padding-left: 5rem;
  background-color: white;
  margin-top: 20rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10rem;
  grid-gap: 20rem;
  grid-template-areas:
                        'item-1 item-1 item-2 item-2'
                        'item-1 item-1 item-2 item-2'
                        'item-3 item-3 item-4 item-4'
                        'item-3 item-3 item-4 item-4'
                        'item-8 item-9 item-10 item-10'
                        'item-11 item-12 item-10 item-10'
                        'item-13 item-13 item-14 item-14'
                        'item-13 item-13 item-14 item-14'
                        'item-15 item-16 item-17 item-17'
                        'item-18 item-19 item-17 item-17'
                        'item-20 item-20 item-20 item-20'
                        'item-20 item-20 item-20 item-20'
                        'item-20 item-20 item-20 item-20'
}

.image-gallery a{
  width: 100%;
  /* background-color: rgba(255,255,255,1); changed 4,5,6, */
}

.description h6{
  font-size: 5.5rem;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  color: black;
  font-style: italic;
}

.description h1{
  display: block;
  position: relative;
  letter-spacing: 0.3rem;
  font-size: 8rem;
  font-family: 'Glory';
  font-style: italic;
  font-weight: 400;
  line-height: 10rem;
  transform: scale(1, 1);
  -webkit-text-fill-color: black;
}

.item-1{
  grid-area: item-1;
}
.item-2{
  grid-area: item-2;
}
.item-3{
  grid-area: item-3;
}
.item-4{
  grid-area: item-4;
}
.item-5{
  grid-area: item-5;
}
.item-6{
  grid-area: item-6;
}
.item-7{
  grid-area: item-7;
}
.item-8{
  grid-area: item-8;
}
.item-9{
  grid-area: item-9;
}
.item-10{
  grid-area: item-10;
}
.item-11{
  grid-area: item-11;
}
.item-12{
  grid-area: item-12;
}
.item-13{
  grid-area: item-13;
}
.item-14{
  grid-area: item-14;
}
.item-15{
  grid-area: item-15;
}
.item-16{
  grid-area: item-16;
}
.item-17{
  grid-area: item-17;
}
.item-18{
  grid-area: item-18;
}
.item-19{
  grid-area: item-19;
}
.item-20{
  grid-area: item-20;
  border-top: 1px solid black;
  border-right: 1px solid black;
  /* background-color: rgba(255, 255, 255,1); */
}
/* .item-21{
  grid-area: item-21;
  min-height: 100rem;
} */
#xl{
  max-height: 200rem;
  min-height: 200rem;
}

#l{
  max-height: 100rem;
  min-height: 100rem;
}

#s{
  max-height: 50rem;
  min-height: 50rem;
}

#s1{
  text-align: center;
}
/*
#m{
  max-height: 100rem;
  max-width: 50rem;
} */

.img-G{
  margin: 1rem;
  object-fit: contain;
  position: relative;
  display: block;
}

.description{
  margin: auto;
  margin-top: 4rem;
  margin-left: 8rem;
  /* padding: 10rem; */
}
/* end portfolio */

/*Start contact*/
.contact{
  padding: 10rem;
  padding-top: 40rem;
}

.contact h6{
  font-family: 'Glory';
  font-size: 5.5rem;
  font-weight: 400;
  color: black;
}

.contact a{
  font-family: 'Source Sans Pro';
  font-size: 5.5rem;
  font-weight: 400;
  color: #032add;
}

.contact-grid{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
  display: grid;
  grid-template-columns: .5fr 1.25fr 1.25fr;
  grid-template-rows: auto;
  grid-gap: 50rem;
  grid-row-gap: 30rem;
  grid-template-areas:
                      'link1 link3 link4'
                      'link2 link5 link6'
}

.about-link{
  grid-area: link1;
  padding-top: 3rem;
  border-top: 1px solid black;

}

.contact-link{
  grid-area: link2;
  padding-top: 3rem;
  border-top: 1px solid black;
}

.showcase-link{
  grid-area: link3;
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
  grid-template-rows: auto;
  grid-gap: 10rem;
  grid-row-gap: 5rem;
  grid-template-areas:
                        'sublink1 sublink2'
                        'sublink3 sublink4'
                        'sublink5 sublink6'
                        'sublink7 sublink8'
                        'sublink9 sublink10'
                        'sublink11 sublink12';
  text-align: right;
}

.interactive-link{
  height: 1%;
  grid-area: link4;
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  grid-gap: 1rem;
  text-align: right;
  grid-template-areas:
                        'int1 int2'
                        'int3 int4'
}

.github-link{
  grid-area: link5;
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
  grid-template-rows: auto;
  grid-gap: 10rem;
  grid-row-gap: 5rem;
  text-align: right;
  grid-template-areas:
                        'git1 git2'
                        'git3 git4';
}

.showcase{
  grid-area: sublink1;
  padding: 3rem;
  border-right: 1px solid black;
}

.showcase-1{
  grid-area: sublink2;
}
.showcase-2{
  grid-area: sublink4;
}
.showcase-3{
  grid-area: sublink6;
}
.showcase-4{
  grid-area: sublink8;
}
.showcase-5{
  grid-area: sublink10;
}
.showcase-6{
  grid-area: sublink12;
}

#interactive{
  grid-area: int1;
  padding: 3rem;
  border-right: 1px solid black;
}

#interactive-1{
  grid-area: int2;
}

#interactive-2{
  grid-area: int4;
}

#github{
  grid-area: git1;
  padding: 3rem;
  border-right: 1px solid black;
}

#github-1{
  grid-area: git2;
}

#github-2{
  grid-area: git4;
}

.navlinks h6{
  color: #032add;
}
/*End contact*/

/*Start footer*/
.copyright{
  width: 100%;
  text-align: center;
  /* background-color: #16162d; */
  padding: 2rem 0;
  position: relative;
}

.up{
  position: absolute;
  width: 7rem;
  height: 7rem;
  background-color: #eee;
  bottom: 1.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
}

.up i{
  color: #032add;
  font-size: 2rem;
  margin: auto;
  cursor: pointer;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: 200;
  font-style: normal;
  font-size: 28px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;
  animation: pulse 3s infinite;
  padding-top: -1rem;
}

.copyright p{
  font-size: 2.5rem;
}
/*End footer*/

/*Start animations*/
@keyframes pulse{
  0%{
    color: rgba(25,86,240,1);
  }
  70%{
    color: rgba(25,86,240,0.35);
  }
  100%{
    color: rgba(25,86,240,1);
  }
}
/*End animations*/

/*Start media queries*/
@media screen and (max-width: 768px){
  html{
    font-size: 3px;
  }
  body{
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 600px){
  html{
    font-size: 2px;
    width: 100vw;
  }
  body{
    width: 100vw;
    margin: auto;
  }
  .menu-toggler{
    display: none;
  }
  .top-nav{
    display: none;
  }
  .landing{
    font-size: 8rem;
    width: 100%;
  }
  .landing-slogan1{
    width: 90%;
  }
  .landing-slogan1 h6{
    font-size: 10rem;
  }
  .aboutme h6{
    font-size: 9rem;
  }
  /* .landing-text h1{
    font-size: 8rem;
  } */
  .slogan{
    display: none;
  }
  .landing-text h6{
    font-size: 9rem;
  }
  .nav-link{
    font-size: 3.5rem;
  }
  .about-heading{
    position: absolute;
    bottom: 73%;
    width: 90%;
    left: 3rem;

  }
  .about-heading h1{
    letter-spacing: 0.2rem;
    font-size: 6rem;
    line-height: 6rem;
  }
  .about-details{
    padding-top: 50rem;
    column-count: 1;
    position: static;
    padding-left: 5rem;
    width: 93%;
    column-gap: 3rem;
    margin-bottom: 10rem;
  }
  .about-details p{
    font-size: 3.5rem;
  .up{
    right: 2rem;
  }

  #guiPanel{
    display: block;
  }

  .portfolioGrid{
    width: 100vw;
  }

}
