.slide{
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 400vw;
}
.one {
  background: hsla(100,100%,5%,0.5);
}
.two {
  background: hsla(100,100%,50%,0.7);
}
.three {
  background: hsla(100,100%,70%,0.9);
}
.four {
  background: hsla(100,100%,100%,1);
}
